<ion-header>
  <ion-toolbar>
    <ion-title style="background-color:rgb(209, 102, 15);color:white;padding:10px">
     Movies
    </ion-title>
  </ion-toolbar>
<ion-list >
  <ion-item>
      <ion-label style="color:rgb(209, 102, 15)">Choose Language</ion-label>
      <ion-select value="All" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="Telugu">Telugu</ion-select-option>
        <ion-select-option value="Kannada">Kannada</ion-select-option>
        <ion-select-option value="English">English</ion-select-option>
        <ion-select-option value="Tamil">Tamil</ion-select-option>
        <ion-select-option value="Hindi">Hindi</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/Nani.jpg"></ion-img>
      <ion-card-header>
          <ion-card-subtitle>Jersey</ion-card-subtitle>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon>
          <ion-button style="float:right" size="small" (click)="bookJersey()" >Book Tickets</ion-button>

        </ion-card-header>
        <ion-card-content>

         <h3 style="color:navy">SYNOPSIS</h3>
         <p style=" text-align: justify;">  Luck hasn't always been in favour of Arjun, a gifted cricketer in his mid-thirties whose career has failed to take off. With everyone around him insisting that he should give up on his career, will Arjun have the courage of conviction to continue pursuing his dream?
                </p>
        </ion-card-content>
      </ion-card>

    <ion-card class="welcome-card">
        <ion-img src="assets/gully-boy.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Gully Boy</ion-card-subtitle>
       <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
          <ion-button style="float:right" size="small" >Book Tickets</ion-button>

        </ion-card-header>
        <ion-card-content>

         <h3 style="color:navy">SYNOPSIS</h3>
         <p style=" text-align: justify;">  22-year-old Murad is the son of a driver, hailing from a ghetto in Mumbai. While his parents expect him to land a white collar job,the youngster`s greatest passion is rap music.
                </p>
        </ion-card-content>
      </ion-card>

    <ion-card class="welcome-card">
        <ion-img src="assets/badla.jpg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Badla</ion-card-subtitle>
           <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
          <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
            <ion-button style="float:right" size="small" >Book Tickets</ion-button>
  
          </ion-card-header>
          <ion-card-content>
  
           <h3 style="color:navy">SYNOPSIS</h3>
           <p style=" text-align: justify;">  
              A young dynamic entrepreneur finds herself in a locked hotel room next to the body of her dead lover. She hires a prestigious lawyer to defend her, and over the course of one evening, they work together to find out what actually happened.                  </p>
          </ion-card-content>
        </ion-card>

    <ion-card class="welcome-card">
        <ion-img src="assets/kesari.jpeg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Kesari</ion-card-subtitle>
         <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
            <ion-button style="float:right" size="small" >Book Tickets</ion-button>
  
          </ion-card-header>
          <ion-card-content>
  
           <h3 style="color:navy">SYNOPSIS</h3>
           <p style=" text-align: justify;">  Set in the 19th century, Kesari recounts the story of Havildar Ishar SIngh who played a key role in the 1897 Battle of Saragarhi, in which an army of 21 Sikhs fought against a legion of Afghans in what is considered as one of the greatest last-stands in military history.

                  </p>
          </ion-card-content>
        </ion-card>

      <ion-card class="welcome-card">
          <ion-img src="assets/the-father.jpg"></ion-img>
          <ion-card-header>
              <ion-card-subtitle>The Father</ion-card-subtitle>
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
          <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
              <ion-button style="float:right" size="small" >Book Tickets</ion-button>
    
            </ion-card-header>
            <ion-card-content>
    
             <h3 style="color:navy">SYNOPSIS</h3>
             <p style=" text-align: justify;"> 
                Originally written in French, this play, described by the writer as “a tragic farce” jolts us into the awareness that a very thin line separates the ludicrous from the pathetic. Wry, moving, hilarious and disturbing by turns, on one level Father is a family drama and on another, a searing picture of mental dysfunction and the toll it takes on both the sufferer and the carer.                    </p>
            </ion-card-content>
          </ion-card>
  
  <ion-card class="welcome-card">
          <ion-img src="assets/yajamana.jpg"></ion-img>
          <ion-card-header>
              <ion-card-subtitle>Yajamana</ion-card-subtitle>
            <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
              <ion-button style="float:right" size="small" >Book Tickets</ion-button>
    
            </ion-card-header>
            <ion-card-content>
    
             <h3 style="color:navy">SYNOPSIS</h3>
             <p style=" text-align: justify;"> 
                The film revolves around a hardworking man Krishna who lives in Hulidurga and is famous for traditional oil extraction. He is torn apart from being the rightful owner with the entry of business tycoon Devi Shetty. Will Krishna fight against all odds to bring justice to his people? Who will become the real `Yajamana` is what forms the crux of the story.                    </p>
            </ion-card-content>
          </ion-card>

        <ion-card class="welcome-card">
            <ion-img src="assets/suddennag-sathodre.jpg"></ion-img>
            <ion-card-header>
                <ion-card-subtitle>Suddena Sathodre</ion-card-subtitle>
            <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
                <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                <ion-button style="float:right" size="small" >Book Tickets</ion-button>
      
              </ion-card-header>
              <ion-card-content>
      
               <h3 style="color:navy">SYNOPSIS</h3>
               <p style=" text-align: justify;"> 
                  It seems we should never say “ That thing, won't happen to me.” Life has a Funny Way of Proving us Wrong.



                  Come Experience this aspect as to why we should Live LIFE every Moment because everything else is Uncertain, is the  Crux of this Play, told in a Hilarious manner. What If …..????                      </p>
              </ion-card-content>
            </ion-card>



</ion-content>
